/* 
 * [HZcms] (C)2001-2018 AoSheWeb Inc.
 * This is NOT a freeware, use is subject to license terms.
 * 
 * Document   : style.css
 * Encoding   : UTF-8
 * Created on : 2011-11-18, 17:38:46
 * Author     : shengbo wushengbo@qq.com 475749812
 * Site       : http://www.aosheweb.com
 * Description: 
*/

/*通用*/
*{margin:0px; padding:0px;}
img{ border:0px;}
a{font-size:12px; text-decoration:none; font-family:"宋体"; color:#000}
a:hover{ color:#FF0000}
ul li{list-style:none;}
ol li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal; font-size:12px;}
body{ color:#000; font-family:"宋体"; font-size:12px;}
.clear{clear:both}

/*头部*/
#loginbar{height:35px; background:url(../images/backgroud.png) repeat-x 0 -38px;text-align:center;}
.loginbar_z{width:1000px; line-height:35px; margin:0 auto}
.loginbar_z p{float:left}
.loginbar_z p a{font-weight:bold; color:#0b4ca8; margin-left:12px;}
.loginbar_z span{float:right}

#navda{width: 100%; text-align:center}
#navbar{width:1000px; margin:25px auto 0; background:url(../images/nav_bj.jpg) no-repeat bottom; height:102px;}
.logobar{width:1000px;}
.logo{float:left; margin-left:25px; display: inline}
.nav{ margin:22px 0 0 35px; float:left}
.nav a{float:left; width:81px; line-height:31px; background:url(../images/botton.png) no-repeat -86px 0; margin-left:5px; font-size:14px; color:#05449f; text-align:center}
.nav a:hover{background:url(../images/botton.png) no-repeat; color:#FFF}

#searchar{ margin-top:10px; _margin-top:8px;}
.subNav{float:left; margin-left:5px; display: inline}
.subnav1{ width:182px; _width:221px; line-height:31px; background:url(../images/fenlei.jpg); padding-left:39px; text-align:left}
.subnav1 a{font-size:14px; color:#03439d; font-weight:bold}
.sear{float:left; margin-left:15px;}
.sear p{width:62px; text-align:center; line-height:31px; font-size:14px; color:#FFF; float:left}
.sou{width:362px; height:27px; background:#FFF; border-left:1px #b4b4b4 solid; border-top:1px #b4b4b4 solid; float:left}
.sou a{float:left; width:52px; line-height:27px; background:url(../images/dian.jpg) no-repeat right; font-size:14px; color:#03439d; text-align:center; padding-right:2px;}
.kuang{float:left; width:270px; height:27px; line-height:27px; border:0; margin-left:5px; font-size:14px; color:#bfbcbc}
.sou span{width:23px; height:27px; background:url(../images/botton.png) no-repeat 0 -40px; float:right;}
.sear h3{float:left; margin-left:10px;}
.button{width:73px; height:28px; background:url(../images/botton.png) no-repeat -24px -39px; float:left; border:none}
.hot{float:left; margin-left:15px; color:#FFF; line-height:30px;}
.hot a{color:#FFF}

/*产品排行*/
#product{width:228px; border:1px #ddd solid; float:left; margin-top:10px;}
.pai1{line-height:32px; background:url(../images/backgroud.png) 0 -122px; float:left; width: 228px; overflow:hidden}
.pai1 p{float:left; padding-left:12px; font-size:14px; font-weight:bold; color:#014099}
.pai1 span{float:right; padding-right:5px;}
.pai2{padding:5px 10px 2px; float:left; width:208px}
.pai2 dl dt{float:left}
.pai2 dl dd{margin-left:10px; float:left}
.pai2 dl dd p{line-height:32px;}
.pai2 dl dd p a{color:#8e8ed9}
.xinji{ width:64px; height:12px; float:left}
.xinji.xin0{ background:url(../images/icon.png) no-repeat 0 -119px;}
.xinji.xin1{ background:url(../images/icon.png) no-repeat 0 -102px;}
.xinji.xin2{ background:url(../images/icon.png) no-repeat 0 -85px;}
.xinji.xin3{ background:url(../images/icon.png) no-repeat 0 -68px;}
.xinji.xin4{ background:url(../images/icon.png) no-repeat 0 -51px;}
.xinji.xin5{ background:url(../images/icon.png) no-repeat 0 -34px;}
.xinji.xin6{ background:url(../images/icon.png) no-repeat 0 -17px;}
.xinji.xin7{ background:url(../images/icon.png) no-repeat 0 -0;}
.pai2 ul{margin-top:8px;}
.pai2 ul li{line-height:24px; color:#014099}
.pai2 ul li a{color:#014099}

/*js广告条760*/
#slides{margin-top:10px;}

/*优惠券*/
#coupons{margin-top:10px; width:760px;}
.lanbt{height:26px; border-bottom:3px #014099 solid}
.lanbt p{width:88px; line-height:27px; text-align:center; font-size:14px; font-weight:bold; color:#FFF; background:url(../images/botton.png) 0 -74px;}
.coupons1{ width:760px;}
.coupons1 ul{float:left; width:173px; margin:10px 8px 0; display:inline}
.coupons1 ul h3{line-height:18px;}
.coupons1 ul h3 img{margin-bottom:3px;}
.coupons1 ul li{line-height:20px; color:#0a4ca8; margin-top:3px; float:left; width:173px;}

/*热门区域*/
#area{width:748px; border:1px #0747a2 solid; margin-top:10px; padding:0 5px; float:left}
.area1{line-height:26px; border-bottom:1px #878282 dotted; float:left; width:748px; margin-top:7px;}
.area1 p{float:left; padding-left:7px; font-size:14px; font-weight:bold; color:#1357b6}
.area1 span{float:right; padding-right:7px;}
.area1 span a{color:#878282}
.area2{line-height:28px; margin-top:3px; width:748px; float:left; padding:0 5px;}
.area2 p{float:left; width:80px; font-weight:bold; color:#1357b6; margin-left:5px; display:inline}
.area2 h4{width:15px; height:15px; float:left; margin-top:7px;}
.area2 h4.tu1{background:url(../images/botton.png) -152px -37px;}
.area2 h4.tu2{background:url(../images/botton.png) -152px -58px;}
.area2 h4.tu3{background:url(../images/botton.png) -152px -77px;}
.area2 h4.tu4{background:url(../images/botton.png) -152px -99px;}
.area2 h4.tu5{background:url(../images/botton.png) -152px -123px;}
.area2 h4.tu6{background:url(../images/botton.png) -152px -145px;}
.area2 h4.tu7{background:url(../images/botton.png) -152px -164px;}
.area2 span{float:left; display: inline}
.area2 span a{ padding:2px 7px;}
.area2 span a:hover{ background:#03F; color:#FFF; padding:2px 7px;}

/*底部信息*/
#footer{width:1000px; border-top:2px #c1c1c1 solid; margin:10px auto 0;}
#footer p{margin-top:7px; line-height:24px; color:#7a7a7a}
#footer img{margin:0 5px;}

/*点评*/
#dianp{margin-top:10px; width:760px;}
.dping{ border:1px #dddddd solid; border-top:none; overflow:hidden;}
.ping{margin:10px 5px 5px; border-bottom:1px #999 dashed; padding-bottom:5px;}
.lanfb{color:#23669b; font-weight:bold}

.shou{width:14px; height:15px; float:left}
.shou.zheng{background:url(../images/icon.png) no-repeat 0 -271px;}
.shou.fan{background:url(../images/icon.png) no-repeat -20px -271px;}
.xie{width:70px; height:25px; background:url(../images/icon.png) no-repeat 0 -291px;}
.xie a{width:70px; height:25px; float:left}

/*分类*/
#fenlei{width:800px;}
.fenl{margin-top:5px; border-bottom:1px #cacaca dashed; float:left; width:800px; float:left; padding-bottom:5px;}
.fenlei1{line-height:26px; background:url(../images/erji_07.jpg) no-repeat 0 7px; padding-left:20px; float:left; color:#909090; font-weight:bold; width:780px; margin-top:5px;}
.fenlei2{ line-height:22px; float:left; width:800px;}
.fenlei2 a{float:left; margin:0px 22px;}
.fenlei2 span{float:left; color:#ff822a; padding-left:10px;}
.fenlei2 p{float:left}

/*推荐产品*/
#tui{width:800px;}
.jian{width:798px; _width:800px; float:left; border:1px #dddddd solid; border-top:none; padding-bottom:5px; }
.jian ul li{float:left; width:110px; text-align:center; margin:12px 10px 0 12px; display:inline}
.jian ul li span{line-height:18px; margin-top:3px; width:110px; float:left}

/*新闻*/
#xinw{width:188px; border:1px #dddddd solid; float: left}
.zuobt{line-height:32px; background:url(../images/backgroud.png) 0 -122px; width:188px; float: left}
.zuobt p{float:left; padding-left:12px; font-size:14px; font-weight:bold; color:#014099}
.xinw{padding:5px;}
.xinw ul li{line-height:24px; background:url(../images/xind.jpg) no-repeat 2px 7px; padding-left:15px;}

/*新店*/
.xinw dl{ margin-top:3px; padding-bottom:5px; float:left}
.xinw dl dt{float:left}
.xinw dl dd{float:left; width:100px; line-height:18px; margin-left:5px;}

/*博友*/
.zis{color:#6666cc}
.huiji{width:70px; height:13px; margin-top:5px;}
.huiji.hxin1{background:url(../images/icon.png) 0 -223px;}
.huiji.hxin2{background:url(../images/icon.png) 0 -203px;}
.huiji.hxin3{background:url(../images/icon.png) 0 -183px;}
.huiji.hxin4{background:url(../images/icon.png) 0 -163px;}
.huiji.hxin5{background:url(../images/icon.png) 0 -143px;}

/*文章列表*/
.wenlei{width:800px;}
.wenlei ul li{line-height:25px; margin-top:3px; background:url(../images/wenl_03.jpg) no-repeat 3px 9px; padding-left:15px;}
.wenlei ul li a{font-size:14px;}
.wenlei ul li font{color:#e57b33; font-size:12px;}
.wenbt{margin-top:5px; float:left; width:800px; text-align:center}
.wenbt p{font-family:"微软雅黑"; font-weight:500; font-size:18px; color:#013f95; height:22px;}
.wenbt span{margin-top:7px; line-height:25px; color:#8d8d8d}
.jianjie{background:#fffbf0; padding:8px; border:1px #f9d5b8 solid; margin-top:8px; line-height:24px; color:#5d5c5c; font-size:14px;}
.rong{margin-top:10px; line-height:26px; font-size:14px; color:#5d5c5c}

/*优惠券列表*/
#you{width:798px; border:1px #dddddd solid; float:left; padding-bottom:10px;}
.you1{line-height:32px; background:url(../images/backgroud.png) 0 -122px; width:798px; float:left}
.you1 p{float:left; padding-left:12px; font-size:14px; font-weight:bold; color:#014099}
.you1 span{float:right; padding-right:5px;}
.fag{width:32px; height:12px; background:url(../images/botton.png) 0 -248px; float:left; margin-top:9px; overflow:hidden}
.fag a{float:left; width:14px; height:12px; margin-right:2px;}
.youh{float:left; width:222px; height:214px; border:1px #dddddd solid; margin:12px 20px 0 20px; _margin:12px 15px 0px; padding:1px;}
.youht{line-height:22px; text-align:center}
.youhw{margin-top:8px}
.ho24{font-size:24px; font-family:"微软雅黑"; font-weight:500; color:#ff6600}
.san{text-decoration:line-through; color:#8e8e8e}
.lans{color:#0848a3}
.kan{width:81px; height:28px; background:url(../images/botton.png) 0 -140px; float:left}
.kan a{width:81px; height:28px; float:left}

/*优惠券排行列表*/
.youpai{float:left}
.youpai ul li{ float:left; width:188px; margin-top:8px;}
.youpai ul li span{width:180px; float:left; height:18px; padding-left:8px;}
.youpai ul li span font{color:#0848a3; margin-left:28px; display:inline; font-size: 12px;}

/*优惠券详情*/
.youxiang{border:1px #dddddd solid; width:798px;}
.youbt{height:38px; background:url(../images/backgroud.png) repeat-x 0 -114px}
.da{width:38px; height:20px; background:url(../images/botton.png) 0 -218px; border:none; cursor:pointer; margin-top:8px}
.xiaz{width:86px; height:20px; background:url(../images/botton.png) -49px -218px; border:none; cursor:pointer; margin-top:8px; margin-left:10px;}
.mu{line-height:35px; width:88px; background:url(../images/botton.png) 0 -170px; text-align:center; font-size:14px; color:#0646a1; float:left; margin:3px 0 0 10px;}
.fenx{line-height:38px; padding-left:8px; float:left;}
.fenx span{float:left}
.fenx a{width:43px; height:21px; background:url(../images/icon.png) 0 -244px; float:left; margin-top:8px;}
.liu{float:right; line-height:38px; padding-right:12px;}
.liu font{color:#094aa6; font-size:12px;}
.youhx{line-height:32px; background:url(../images/backgroud.png) 0 -122px; float:left; width:100%; border-top:1px #dddddd solid}
.youhx p{float:left; padding-left:12px; font-size:14px; font-weight:bold; color:#014099}

/*查找商家*/
#zhao{width:798px; border:1px #adadad solid; float:left}
.zhao1{height:35px; line-height: 35px; background:url(../images/backgroud.png) 0 -38px;}
.zhao1 span{padding-left:10px; float: left}
.lan16{font-family:"微软雅黑"; font-size:16px; font-weight:500; color:#094aa5;}
.zhao2{width:798px; background-color:#f3eded; float:left}
.zhao2 ul li{line-height:24px; margin-top:5px; padding-left:15px}
.zhao2 ul li font{color:#959090; font-size: 12px;}
.zhao2 ul li span{padding-left:10px;}
.zhao2 ul li span a{color:#0646a1}

/*登录*/
#denglu{ text-align: center;}
.deng1{float:left; width:597px;}
.denglu2{float:right; width:360px; border:1px #dddddd solid; background:url(../images/dengbj_03.jpg) repeat-x bottom; height:250px; _height:262px; padding:10px 0 0 31px;}
.denglu2 h2{line-height:32px; font-size:16px; font-weight:500; font-family:"微软雅黑"; color:#04439d}
.denglu2 ul{ margin-top:12px;}
.denglu2 ul li{line-height:24px; margin-top:18px; float:left; width:360px;}
.denglu2 ul li p{float:left; width:65px;}
.denglu2 ul li span{float:left}
.lv{color:#277e01}

/*会员个人中心*/
#huiyuan{width:190px;}
.gexin{width:178px; padding:5px; border:1px #dddddd solid; float:left}
.gexin dl dt{ float:left}
.gexin dl dd{width:115px; padding-left:5px; line-height:24px; float:left}
.gexin dl dd font{font-weight:bold; color:#ff8c03}

.zhanghu{width:188px; border:1px #dddddd solid; margin-top:10px; float:left}
.zhanghu h2{line-height:30px; background:url(../images/geren_11.jpg) no-repeat 5px 9px; font-weight:bold; color:#0a4ba7; font-size:14px; padding-left:20px; border-bottom:1px #dddddd solid;}
.zhanghu ul{padding:5px;}
.zhanghu ul li{line-height:24px; background:url(../images/geren_15.jpg) no-repeat 5px 7px; padding-left:20px; margin-top:3px;}
.zhanghu ul li a{color:#545454}

#hui_right{width:798px; border:1px #dddddd solid; float:right;}
.huiybt{line-height:30px;border-bottom:1px #dddddd solid; background:url(../images/ger.jpg) no-repeat left; padding-left:12px; font-weight:bold; color:#0a4ba7; font-size:14px;}
.huiwen{padding:20px 0 0 38px;}
.huiwen ul li{line-height:30px; margin-top:5px; float:left; width:100%; color:#545454}
.huiwen ul li span input,textarea,select{color:#737373}
.huiwen ul li p{float:left; width:65px; text-align:right;}
.huiwen ul li span{float:left}