<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : area.html
Encoding   : UTF-8
Created on : 2011-11-19, 10:53:09
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="area">
    <div class="area1"><p>热门区域</p><span><a href="#">全部区域</a></span></div>
    <div class="area2">
        <span> <a href="#">承德</a>|<a href="#">沧州</a>|<a href="#">滁州</a>|<a href="#">常德</a>|<a href="#">潮州</a>|<a href="#">巢湖</a>|<a href="#">赤峰</a>|<a href="#">长治</a>|<a href="#">池州</a>|<a href="#">郴州</a>|<a href="#">昌吉州</a>|<a href="#">朝阳</a>|<a href="#">崇左</a>|<a href="#">楚雄州</a>|<a href="#">昌都地区</a>
            <a href="#">澄迈县</a>|<a href="#">昌江</a></span>
    </div>
    <div class="area1"><p>热门分类</p>
        <span><a href="#">全部分类</a></span></div>
    <div class="area2">
        <h4 class="tu1"></h4><p>房产</p>
        <span> <a href="#">承德</a>|<a href="#">沧州</a>|<a href="#">滁州</a>|<a href="#">常德</a>|<a href="#">潮州</a>|<a href="#">巢湖</a>|<a href="#">赤峰</a>|<a href="#">长治</a>|<a href="#">池州</a>|<a href="#">郴州</a>|<a href="#">昌吉州</a>|<a href="#">朝阳</a>|<a href="#">崇左</a>|<a href="#">郴州</a></span>
    </div>
    <div class="area2">
        <h4 class="tu2"></h4><p>建材家居</p>
        <span> <a href="#">承德</a>|<a href="#">沧州</a>|<a href="#">滁州</a>|<a href="#">常德</a>|<a href="#">潮州</a>|<a href="#">巢湖</a>|<a href="#">赤峰</a>|<a href="#">长治</a>|<a href="#">池州</a>|<a href="#">郴州</a>|<a href="#">昌吉州</a>|<a href="#">朝阳</a>|<a href="#">崇左</a>|<a href="#">郴州</a></span>
    </div>
    <div class="area2">
        <h4 class="tu3"></h4><p>商旅</p>
        <span> <a href="#">承德</a>|<a href="#">沧州</a>|<a href="#">滁州</a>|<a href="#">常德</a>|<a href="#">潮州</a>|<a href="#">巢湖</a>|<a href="#">赤峰</a>|<a href="#">长治</a>|<a href="#">池州</a>|<a href="#">郴州</a>|<a href="#">昌吉州</a>|<a href="#">朝阳</a>|<a href="#">崇左</a>|<a href="#">郴州</a></span>
    </div>
    <div class="area2">
        <h4 class="tu4"></h4><p>餐饮</p>
        <span> <a href="#">承德</a>|<a href="#">沧州</a>|<a href="#">滁州</a>|<a href="#">常德</a>|<a href="#">潮州</a>|<a href="#">巢湖</a>|<a href="#">赤峰</a>|<a href="#">长治</a>|<a href="#">池州</a>|<a href="#">郴州</a>|<a href="#">昌吉州</a>|<a href="#">朝阳</a>|<a href="#">崇左</a>|<a href="#">郴州</a></span>
    </div>
    <div class="area2">
        <h4 class="tu5"></h4><p>服饰</p>
        <span> <a href="#">承德</a>|<a href="#">沧州</a>|<a href="#">滁州</a>|<a href="#">常德</a>|<a href="#">潮州</a>|<a href="#">巢湖</a>|<a href="#">赤峰</a>|<a href="#">长治</a>|<a href="#">池州</a>|<a href="#">郴州</a>|<a href="#">昌吉州</a>|<a href="#">朝阳</a>|<a href="#">崇左</a>|<a href="#">郴州</a></span>
    </div>
    <div class="area2">
        <h4 class="tu6"></h4><p>箱包配饰</p>
        <span> <a href="#">承德</a>|<a href="#">沧州</a>|<a href="#">滁州</a>|<a href="#">常德</a>|<a href="#">潮州</a>|<a href="#">巢湖</a>|<a href="#">赤峰</a>|<a href="#">长治</a>|<a href="#">池州</a>|<a href="#">郴州</a>|<a href="#">昌吉州</a>|<a href="#">朝阳</a>|<a href="#">崇左</a>|<a href="#">郴州</a></span>
    </div>
    <div class="area2">
        <h4 class="tu7"></h4><p>数码家电</p>
        <span> <a href="#">承德</a>|<a href="#">沧州</a>|<a href="#">滁州</a>|<a href="#">常德</a>|<a href="#">潮州</a>|<a href="#">巢湖</a>|<a href="#">赤峰</a>|<a href="#">长治</a>|<a href="#">池州</a>|<a href="#">郴州</a>|<a href="#">昌吉州</a>|<a href="#">朝阳</a>|<a href="#">崇左</a>|<a href="#">郴州</a></span>
    </div>
</div>