<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : cpph.html
Encoding   : UTF-8
Created on : 2011-11-18, 17:53:31
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="product">
    <div class="pai1">
        <p>产品排行</p>
        <span><a href="#">更多>></a></span>
    </div>
    <div class="pai2">
        <dl>
            <dt><a href="#"><img src="__PUBLIC__/images/pic/pai.jpg" /></a></dt>
            <dd>
                <p><a href="#">大碗厨(东风路店)</a></p>
                <div class="xinji xin2"></div>
            </dd>
        </dl>
        <div class="clear"></div>
        <ul>
            <li>>> <a href="#">利强记北角鸡蛋仔(弥敦道店)</a></li>
            <li>>> <a href="#">利强记北角鸡蛋仔(弥敦道店)</a></li>
            <li>>> <a href="#">利强记北角鸡蛋仔(弥敦道店)</a></li>
            <li>>> <a href="#">利强记北角鸡蛋仔(弥敦道店)</a></li>
            <li>>> <a href="#">利强记北角鸡蛋仔(弥敦道店)</a></li>
            <li>>> <a href="#">利强记北角鸡蛋仔(弥敦道店)</a></li>
            <li>>> <a href="#">利强记北角鸡蛋仔(弥敦道店)</a></li>
            <li>>> <a href="#">利强记北角鸡蛋仔(弥敦道店)</a></li>
        </ul>
    </div>
</div>
