<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : denglu.html
Encoding   : UTF-8
Created on : 2011-11-22, 16:04:22
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="denglu">
 <div class="deng1"><img src="__PUBLIC__/images/denglu.jpg" /></div>
 <div class="denglu2">
   <h2>用户登录</h2>
   <ul>
    <li><p>用户名：</p><span><input name="" type="text"  style=" width:215px; height:22px;"/></span></li>
    <li>
      <p>密　码：</p>
      <span><input name="" type="text"  style=" width:215px; height:22px;"/></span></li>
    <li><p>&nbsp;</p><span><input name="" type="button"  style="width:83px; height:30px; background:url(../Public/images/botton.png) 0 -304px; border:none; cursor:pointer"/> <a href="#" class="ho1">忘记密码?</a></span></li>
    <li><p>&nbsp;</p><span>还不是注册用户？只需一步，<a href="#" class="lv">快速注册>></a></span></li>
   </ul>
  </div>
</div>
