<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : huiyuan_right.html
Encoding   : UTF-8
Created on : 2011-11-24, 11:53:09
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->
<div id="hui_right">
 <div class="huiybt">个人信息</div>
 <div class="huiwen">
  <ul>
   <li><p>用 户 名：</p><span>shengbobo520</span></li>
   <li><p>性　　别：</p><span>男</span></li>
   <li><p>电子邮件：</p><span><input type="text"  style="height:20px; margin-top:3px;" value="wushengbo@qq.com"/></span></li>
   <li><p>姓　　名：</p><span><input type="text"  style="height:20px; margin-top:3px;" value="邬胜波"/></span></li>
   <li><p>昵　　称：</p><span><input type="text"  style="height:20px; margin-top:3px;" value="bobo"/></span></li>
   <li><p>生　　日：</p><span>1989年5月6日</span></li>
   <li><p>手　　机：</p><span><input type="text"  style="height:20px; margin-top:3px;" value="15111423471"/></span></li>
   <li><p>固定电话：</p><span><input type="text"  style="height:20px; margin-top:3px;" value="0731-85867315"/></span></li>
   <li><p>QQ：</p><span><input type="text"  style="height:20px; margin-top:3px;" value="475749812"/></span></li>
   <li><p>所 在 地：</p><span><select name="">
     <option>湖南省</option>
   </select>
   　<select name="">
     <option selected="selected">长沙市</option>
   </select>
   　<select name="">
     <option>芙蓉区</option>
   </select></span></li>
   <li><p>街道住址：</p><span><textarea cols="50" rows="">长沙芙蓉区朝阳路78号凯通国际二栋三单元1204</textarea></span></li>
   <li><p>邮政编码：</p><span><input type="text"  style="height:20px; margin-top:3px;" value="410000"/></span></li>
   <li><p>&nbsp;</p><span><input type="button" style="width:53px; height:23px; background:url(images/huiy.jpg); border:none; cursor:pointer"/></span></li>
  </ul>
 </div>
</div>
