<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : wzlb.html
Encoding   : UTF-8
Created on : 2011-11-21, 15:07:03
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div class="wenlei">
 <ul>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
  <li><a href="#">消费每满百送涮锅羊肉一份(<font>湘菜玉楼东雅塘村店</font>) </a></li>
 </ul>
</div><html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
