<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : xindian.html
Encoding   : UTF-8
Created on : 2011-11-21, 14:05:42
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="xinw">
 <div class="zuobt"><p>最新开店</p></div>
 <div class="xinw">
 <dl>
     <dt><a href="#"><img src="__PUBLIC__/images/pic/chan_03.jpg" /></a></dt>
  <dd><strong>喜洋洋食府</strong><br />
崇安区大成巷步行
街41号</dd>
 </dl>
 <dl>
     <dt><a href="#"><img src="__PUBLIC__/images/pic/chan_03.jpg" /></a></dt>
  <dd><strong>喜洋洋食府</strong><br />
崇安区大成巷步行
街41号</dd>
 </dl>
     <dl>
     <dt><a href="#"><img src="__PUBLIC__/images/pic/chan_03.jpg" /></a></dt>
  <dd><strong>喜洋洋食府</strong><br />
崇安区大成巷步行
街41号</dd>
 </dl>
     <dl>
     <dt><a href="#"><img src="__PUBLIC__/images/pic/chan_03.jpg" /></a></dt>
  <dd><strong>喜洋洋食府</strong><br />
崇安区大成巷步行
街41号</dd>
 </dl>
 </div>
</div>
