<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : youhui.html
Encoding   : UTF-8
Created on : 2011-11-21, 17:19:24
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="you">
  <div class="you1"><p>美食</p><span><div class="fag"><a href="#"></a><a href="#"></a></div>　<a href="#">更多>></a></span></div>
  <div class="youh">
  <div class="youht"><a href="#"><img src="__PUBLIC__/images/pic/youh_03.jpg" /><br />兰指绘美甲!仅售48元,价值340元</a></div>
  <div class="youhw">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30%" height="24" align="center"><span class="ho24">¥48</span></td>
    <td width="29%" height="24"><span class="san">原价40元</span></td>
    <td width="41%" rowspan="2"><span class="kan"><a href="#"></a></span></td>
  </tr>
  <tr>
    <td height="20" colspan="2" align="center"><span class="lans">已有52人购买</span></td>
    </tr>
</table>

  </div>
  </div>
  <div class="youh">
  <div class="youht"><a href="#"><img src="__PUBLIC__/images/pic/youh_03.jpg" /><br />兰指绘美甲!仅售48元,价值340元</a></div>
  <div class="youhw">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30%" height="24" align="center"><span class="ho24">¥48</span></td>
    <td width="29%" height="24"><span class="san">原价40元</span></td>
    <td width="41%" rowspan="2"><span class="kan"><a href="#"></a></span></td>
  </tr>
  <tr>
    <td height="20" colspan="2" align="center"><span class="lans">已有52人购买</span></td>
    </tr>
</table>

  </div>
  </div>
  <div class="youh">
  <div class="youht"><a href="#"><img src="__PUBLIC__/images/pic/youh_03.jpg" /><br />兰指绘美甲!仅售48元,价值340元</a></div>
  <div class="youhw">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30%" height="24" align="center"><span class="ho24">¥48</span></td>
    <td width="29%" height="24"><span class="san">原价40元</span></td>
    <td width="41%" rowspan="2"><span class="kan"><a href="#"></a></span></td>
  </tr>
  <tr>
    <td height="20" colspan="2" align="center"><span class="lans">已有52人购买</span></td>
    </tr>
</table>

  </div>
  </div>
</div>
