<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : youhuiph.html
Encoding   : UTF-8
Created on : 2011-11-22, 9:13:25
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="xinw">
 <div class="zuobt"><p>每日优惠卷好评</p>
 </div>
  <div class="youpai">
   <ul>
    <li>
     <span><a href="#">1.外婆家(八佰伴店)</a></span>
     <span><div class="xinji xin2"></div>　<font>150人评价</font></span>
    </li>
    <li>
     <span>1.外婆家(八佰伴店)</span>
     <span><div class="xinji xin4"></div>　<font>150人评价</font></span>
    </li>
    <li>
     <span>1.外婆家(八佰伴店)</span>
     <span><div class="xinji xin2"></div>　<font>150人评价</font></span>
    </li>
    <li>
     <span>1.外婆家(八佰伴店)</span>
     <span><div class="xinji xin4"></div>　<font>150人评价</font></span>
    </li>
    <li>
     <span>1.外婆家(八佰伴店)</span>
     <span><div class="xinji xin5"></div>　<font>150人评价</font></span>
    </li>
   </ul>
  </div>
</div>
