<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : zhaosj.html
Encoding   : UTF-8
Created on : 2011-11-22, 15:07:09
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="zhao">
  <div class="zhao1">
  <span class="lan16">查找商家</span>
  <span><input type="text" style="width:260px; height:24px; line-height:24px; margin-top: 2px;" /></span>
  <span><input type="button" style="width:113px; height:30px; background:url(../Public/images//botton.png) 0 -267px; border:none; cursor:pointer; margin-top: 2px;" /></span>
  </div>

  <div class="zhao2">
   <ul>
    <li><strong>行业：</strong><a href="#"><font>全部</font></a><span><a href="#">美食</a> <a href="#">娱乐</a> <a href="#">运动</a> <a href="#">婚嫁</a> <a href="#">母婴</a></span></li>
    <li><strong>区域：</strong><a href="#"><font>全部</font></a><span><a href="#">天心区</a> <a href="#">芙蓉区</a> <a href="#">朝阳区</a> <a href="#">海定区</a> <a href="#">雨花区</a></span></li>
    <li><strong>筛选：</strong><a href="#"><font>全部</font></a><span><a href="#">美食</a> <a href="#">娱乐</a> <a href="#">运动</a> <a href="#">婚嫁</a> <a href="#">母婴</a></span></li>
   </ul>
  </div>
</div>
