<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : boyou.html
Encoding   : UTF-8
Created on : 2011-11-21, 14:38:27
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="xinw">
 <div class="zuobt"><p>活跃博友</p></div>
 <div class="xinw">
 <dl>
  <dt><a href="#"><img src="__PUBLIC__/images/pic/ping_03.jpg" /></a></dt>
  <dd><span class="zis">shengbo</span><br /><div class="huiji hxin1"></div>
</dd>
 </dl>
 <dl>
  <dt><a href="#"><img src="__PUBLIC__/images/pic/ping_03.jpg" /></a></dt>
  <dd><span class="zis">shengbo</span><br /><div class="huiji hxin2"></div>
</dd>
 </dl>
 <dl>
  <dt><a href="#"><img src="__PUBLIC__/images/pic/ping_03.jpg" /></a></dt>
  <dd><span class="zis">shengbo</span><br /><div class="huiji hxin3"></div>
</dd>
 </dl>
 <dl>
  <dt><a href="#"><img src="__PUBLIC__/images/pic/ping_03.jpg" /></a></dt>
  <dd><span class="zis">shengbo</span><br /><div class="huiji hxin4"></div>
</dd>
 </dl>
 <dl>
  <dt><a href="#"><img src="__PUBLIC__/images/pic/ping_03.jpg" /></a></dt>
  <dd><span class="zis">shengbo</span><br /><div class="huiji hxin5"></div>
</dd>
 </dl>
 </div>
</div>
