<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : coupons.html
Encoding   : UTF-8
Created on : 2011-11-19, 10:46:58
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="coupons">
    <div class="lanbt"><p>优惠券</p></div>
    <div class="coupons1">
        <ul>
            <h3><a href="#"><img src="__PUBLIC__/images/pic/you_03.jpg" /></a><strong>[万豪酒店亚洲风尚餐厅]</strong><br />
                消费每满200抵20</h3>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
        </ul>
        <ul>
            <h3><a href="#"><img src="__PUBLIC__/images/pic/you_03.jpg" /></a><strong>[万豪酒店亚洲风尚餐厅]</strong><br />
                消费每满200抵20</h3>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
        </ul>
        <ul>
            <h3><a href="#"><img src="__PUBLIC__/images/pic/you_03.jpg" /></a><strong>[万豪酒店亚洲风尚餐厅]</strong><br />
                消费每满200抵20</h3>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
        </ul>
        <ul>
            <h3><a href="#"><img src="__PUBLIC__/images/pic/you_03.jpg" /></a><strong>[万豪酒店亚洲风尚餐厅]</strong><br />
                消费每满200抵20</h3>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
            <li>>> <a href="#">[老东吴食府雅都店]</a></li>
        </ul>
    </div>
</div>
