<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : dianping.html
Encoding   : UTF-8
Created on : 2011-11-21, 10:15:04
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="dianp">
 <div class="lanbt"><p>优惠券</p></div>
 <div class="dping">
 <div class="ping">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="11%" align="center" valign="top"><p><img src="__PUBLIC__/images/pic/ping_03.jpg" /></p>
      <p style="margin-top:5px;"> 网友网友</p></td>
    <td width="89%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="20" colspan="5"><a href="#" class="lanfb">万豪酒店亚洲风尚餐厅</a></td>
        </tr>
      <tr>
        <td width="11%" height="27" valign="middle"><div class="xinji xin2"></div></td>
        <td colspan="4" valign="middle"> 口味：较好  服务：较好   环境：较好</td>
        </tr>
      <tr>
        <td height="20" colspan="5">很不错，新装修比以前更好了。。。。</td>
        </tr>
      <tr>
        <td height="20" colspan="5" style="color:#979797">11月21日 9：47</td>
        </tr>
      <tr>
        <td height="25" valign="middle">&nbsp;</td>
        <td width="46%" height="25" valign="middle">&nbsp;</td>
        <td width="16%" height="25" valign="middle"><div class="shou zheng"></div> 
          <span> 　支持 10</span></td>
        <td width="16%" height="25" valign="middle"><div class="shou fan"></div> 
          <span> 　反对 1</span></td>
        <td width="11%" height="25" valign="middle"><div class="xie"><a href="#"></a></div></td>
        </tr>
      </table></td>
  </tr>
  </table>

 </div>
 <div class="ping">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="11%" align="center" valign="top"><p><img src="__PUBLIC__/images/pic/ping_03.jpg" /></p>
      <p style="margin-top:5px;"> 网友网友</p></td>
    <td width="89%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="20" colspan="5"><a href="#" class="lanfb">万豪酒店亚洲风尚餐厅</a></td>
        </tr>
      <tr>
        <td width="11%" height="27" valign="middle"><div class="xinji xin1"></div></td>
        <td colspan="4" valign="middle"> 口味：较好  服务：较好   环境：较好</td>
        </tr>
      <tr>
        <td height="20" colspan="5">很不错，新装修比以前更好了。。。。</td>
        </tr>
      <tr>
        <td height="20" colspan="5" style="color:#979797">11月21日 9：47</td>
        </tr>
      <tr>
        <td height="25" valign="middle">&nbsp;</td>
        <td width="46%" height="25" valign="middle">&nbsp;</td>
        <td width="16%" height="25" valign="middle"><div class="shou zheng"></div> 
          <span> 　支持 10</span></td>
        <td width="16%" height="25" valign="middle"><div class="shou fan"></div> 
          <span> 　反对 1</span></td>
        <td width="11%" height="25" valign="middle"><div class="xie"><a href="#"></a></div></td>
        </tr>
      </table></td>
  </tr>
  </table>

 </div>
 <div class="ping">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="11%" align="center" valign="top"><p><img src="__PUBLIC__/images/pic/ping_03.jpg" /></p>
      <p style="margin-top:5px;"> 网友网友</p></td>
    <td width="89%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="20" colspan="5"><a href="#" class="lanfb">万豪酒店亚洲风尚餐厅</a></td>
        </tr>
      <tr>
        <td width="11%" height="27" valign="middle"><div class="xinji xin3"></div></td>
        <td colspan="4" valign="middle"> 口味：较好  服务：较好   环境：较好</td>
        </tr>
      <tr>
        <td height="20" colspan="5">很不错，新装修比以前更好了。。。。</td>
        </tr>
      <tr>
        <td height="20" colspan="5" style="color:#979797">11月21日 9：47</td>
        </tr>
      <tr>
        <td height="25" valign="middle">&nbsp;</td>
        <td width="46%" height="25" valign="middle">&nbsp;</td>
        <td width="16%" height="25" valign="middle"><div class="shou zheng"></div> 
          <span> 　支持 10</span></td>
        <td width="16%" height="25" valign="middle"><div class="shou fan"></div> 
          <span> 　反对 1</span></td>
        <td width="11%" height="25" valign="middle"><div class="xie"><a href="#"></a></div></td>
        </tr>
      </table></td>
  </tr>
  </table>

 </div>
 <div class="ping">
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="11%" align="center" valign="top"><p><img src="__PUBLIC__/images/pic/ping_03.jpg" /></p>
      <p style="margin-top:5px;"> 网友网友</p></td>
    <td width="89%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="20" colspan="5"><a href="#" class="lanfb">万豪酒店亚洲风尚餐厅</a></td>
        </tr>
      <tr>
        <td width="11%" height="27" valign="middle"><div class="xinji xin5"></div></td>
        <td colspan="4" valign="middle"> 口味：较好  服务：较好   环境：较好</td>
        </tr>
      <tr>
        <td height="20" colspan="5">很不错，新装修比以前更好了。。。。</td>
        </tr>
      <tr>
        <td height="20" colspan="5" style="color:#979797">11月21日 9：47</td>
        </tr>
      <tr>
        <td height="25" valign="middle">&nbsp;</td>
        <td width="46%" height="25" valign="middle">&nbsp;</td>
        <td width="16%" height="25" valign="middle"><div class="shou zheng"></div> 
          <span> 　支持 10</span></td>
        <td width="16%" height="25" valign="middle"><div class="shou fan"></div> 
          <span> 　反对 1</span></td>
        <td width="11%" height="25" valign="middle"><div class="xie"><a href="#"></a></div></td>
        </tr>
      </table></td>
  </tr>
  </table>

 </div>
 </div>
</div>
