<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : fenlei.html
Encoding   : UTF-8
Created on : 2011-11-21, 11:28:48
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="fenlei">
<div class="fenl">
<div class="fenlei1">新房买卖</div>
<div class="fenlei2">
<a href="#">兴隆苑</a> <a href="#">大瑶新城市</a> <a href="#">万科金域华</a> <a href="#">湘雅温泉乡</a> <a href="#">清政园</a> <a href="#">御湖国际</a> <a href="#">鑫隆大厦</a> <a href="#">高峰天马花</a> <a href="#">凤凰城</a> <a href="#">福临·体育</a> <a href="#">浏阳市鑫远</a> <a href="#">紫云阁住宅</a>  <a href="#">中水一品</a> <a href="#">城郊·东方</a> <a href="#">人民路9号</a></div>
</div>

<div class="fenl">
<div class="fenlei1">新房买卖</div>
<div class="fenlei2">
<span>区 域：</span>
<p><a href="#">岳麓区</a> <a href="#">芙蓉区</a> <a href="#">天心区</a> <a href="#">开福区</a> <a href="#">雨花区</a> <a href="#">开发区</a> <a href="#">长沙</a> <a href="#">宁乡</a> <a href="#">望城</a></p></div>
<div class="fenlei2">
<span>户 型：</span>
<p><a href="#">1室户</a> <a href="#">2室户</a> <a href="#">3室户</a> <a href="#">4室户</a> <a href="#">4室户以上</a></p></div>
<div class="fenlei2">
<span>价 格：</span>
<p><a href="#">50万以下</a> <a href="#">50万-80万</a> <a href="#">80万-100万</a> <a href="#">100万-120万</a> <a href="#">120万-150万</a> <a href="#">200万以上</a></p></div>
</div>

<div class="fenl">
<div class="fenlei1">租房</div>
<div class="fenlei2">
<span>区 域：</span>
<p><a href="#">岳麓区</a> <a href="#">芙蓉区</a> <a href="#">天心区</a> <a href="#">开福区</a> <a href="#">雨花区</a> <a href="#">开发区</a> <a href="#">长沙</a> <a href="#">宁乡</a> <a href="#">望城</a></p></div>
<div class="fenlei2">
<span>户 型：</span>
<p><a href="#">1室户</a> <a href="#">2室户</a> <a href="#">3室户</a> <a href="#">4室户</a> <a href="#">4室户以上</a></p></div>
<div class="fenlei2">
<span>价 格：</span>
<p><a href="#">50万以下</a> <a href="#">50万-80万</a> <a href="#">80万-100万</a> <a href="#">100万-120万</a> <a href="#">120万-150万</a> <a href="#">200万以上</a></p></div>
</div>
</div>