<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : footer.html
Encoding   : UTF-8
Created on : 2011-11-19, 11:34:14
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="footer">
<p>©2003-2011 dianping.com, All Rights Reserved.  本站发布的所有内容，未经许可，不得转载，详见《知识产权声明》。</p>
<p><img src="__PUBLIC__/images/footer1.jpg" /> <img src="__PUBLIC__/images/footer2.jpg" /> <img src="__PUBLIC__/images/footer3.jpg" /></p>
</div>
