<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : huiyuan_left.html
Encoding   : UTF-8
Created on : 2011-11-24, 11:22:43
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="huiyuan">
 <div class="gexin">
  <dl>
  <dt><img src="__PUBLIC__/images/getu.jpg" /></dt>
  <dd><font>shengbobo520</font><br />您好，欢迎您回来!</dd>
  </dl>
 </div>
 <div class="zhanghu">
  <h2>账户管理</h2>
  <ul>
  <li><a href="#">个人信息</a></li>
  <li><a href="#">修改密码</a></li>
  <li><a href="#">空间设置</a></li>
  <li><a href="#">头像设置</a></li>
  </ul>
 </div>
 <div class="zhanghu">
  <h2>我的助手</h2>
  <ul>
  <li><a href="#">我加的主题</a></li>
  <li><a href="#">我传的图片</a></li>
  <li><a href="#">我的主题留言</a></li>
  <li><a href="#">我的收藏夹</a></li>
  <li><a href="#">我的点评</a></li>
  <li><a href="#">我的回应</a></li>
  <li><a href="#">我的评论</a></li>
  <li><a href="#">我的短信箱</a></li>
  </ul>
 </div>
</div>
