<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : top.html
Encoding   : UTF-8
Created on : 2011-11-18, 17:32:38
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->


<!--登录条-->
<div id="loginBar">
    <div class="loginBar_z">
        <p>您好！欢迎来到点评网！<a href="#">登录</a> <a href="#">注册</a></p>
        <span><a href="#">设为首页</a> | <a href="#">加入收藏</a> | <a href="#">联系我们</a></span>
    </div>
</div>

<!--导航条-->
<div id="navBar">
    <div class="logobar">
        <div class="logo"><a href="#"><img src="__PUBLIC__/images/logo.png" /></a></div>
        <div class="nav"><a href="#">首 页</a> <a href="#">店 铺</a> <a href="#">优惠券</a> <a href="#">点 评</a> <a href="#">微 博</a> <a href="#">商 城</a></div>
    </div>
    <div class="clear"></div>


    <div id="searchar">
        <div class="subNav">
            <div class="subnav1"><a href="#">全部商户</a></div>
        </div>
        <div class="sear">
            <p>我要找</p>
            <div class="sou"><a href="#">房产</a><input name="" type="text" class="kuang"  value="搜索商品名、地址等..." onFocus="if(this.value=='搜索商品名、地址等...')this.value='';"/><span></span></div>
            <h3><input type="button" class="button" /></h3>
            <div class="hot">热门搜索：<a href="#">金钱豹</a>、<a href="#">耐克</a>、<a href="#">艾美家</a></div>
        </div>
    </div>
</div>