<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : tuijian.html
Encoding   : UTF-8
Created on : 2011-11-21, 11:40:52
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="tui">
 <div class="lanbt"><p>推荐产品</p></div>
 <div class="jian">
  <ul>
   <li><a href="#"><img src="__PUBLIC__/images/pic/chanp.jpg" /></a><span class="lanfb">钱柜</span><span>小包厢人均20元起</span></li>
   <li><a href="#"><img src="__PUBLIC__/images/pic/chanp.jpg" /></a><span class="lanfb">钱柜</span><span>小包厢人均20元起</span></li>
   <li><a href="#"><img src="__PUBLIC__/images/pic/chanp.jpg" /></a><span class="lanfb">钱柜</span><span>小包厢人均20元起</span></li>
   <li><a href="#"><img src="__PUBLIC__/images/pic/chanp.jpg" /></a><span class="lanfb">钱柜</span><span>小包厢人均20元起</span></li>
   <li><a href="#"><img src="__PUBLIC__/images/pic/chanp.jpg" /></a><span class="lanfb">钱柜</span><span>小包厢人均20元起</span></li>
   <li><a href="#"><img src="__PUBLIC__/images/pic/chanp.jpg" /></a><span class="lanfb">钱柜</span><span>小包厢人均20元起</span></li>
  </ul>
 </div>
 
</div>
