<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : wzlb2.html
Encoding   : UTF-8
Created on : 2011-11-21, 15:29:20
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div class="wenlei">
 <div class="wenbt">
  <p>[搜店]石头入馔 南北方同时迷恋“魔石咕噜鱼”</p>
  <span>来源:合众传媒网 编辑:龟龟 发布于:2011-11-16 10:00 </span>
 </div>
 <div class="clear"></div>
 <div class="jianjie">通俗地说，魔石咕噜鱼用药石为料，一些富含有益人体的矿物质元素的石头与鱼一起烹饪，将其有益元素渗透到食物中，再用多味药膳食材和营养丰富的主料以及富含营养的干果、蔬菜等辅料一气呵成。形式上讲，店家会用药石加上秘制调料高温烹炒，之后在浸制过的魔石锅中用一张锡纸垫着，讲鱼放进去后，再把锡纸抽掉</div>
 <div class="rong">
   <p><strong>“魔石咕噜鱼”到底是什么</strong><br />
     通俗地说，魔石咕噜鱼用药石为料，一些富含有益人体的矿物质元素的石头与鱼一起烹饪，将其有益元素渗透到食物中，再用多味药膳食材和营养丰富的主料以及富含营养的干果、蔬菜等辅料一气呵成。形式上讲，店家会用药石加上秘制调料高温烹炒，之后在浸制过的魔石锅中用一张锡纸垫着，讲鱼放进去后，再把锡纸抽掉，最后利用药石等的温度把鱼烫熟。当锡纸抽掉后，就会听到魔石锅里咕噜咕噜的声音。</p>
   <p>西安食客点评：这家店不预约真的是不行哎，店家开门还是限时的，中午11.30到2点，下午17:30-21:30。地方还不是很好找。在丰镐东路和桃园路交叉口向南一点。比较隐蔽。11点半打电话就说需要等位排队了……可见人气之旺，店里环境还不错，就是有点小，人太多，锅里的石头比较有意思，鱼肉就那么进去烫一烫居然熟了，还非常鲜美，着实不错，不论吃法还是口感都很棒，要的黑鱼，肉比较劲道，刺少；鱼头汤还不粗，里面还加了豆腐，米饭是钵子米饭，很香；嘻嘻，凉菜要了个豆芽拌面筋，豆芽很少面筋很多，也蛮好吃的。下一次有机会依然要去 只是不要在等位了。</p>
 </div>
</div>
