<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : xinwen.html
Encoding   : UTF-8
Created on : 2011-11-21, 12:08:23
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div id="xinw">
 <div class="zuobt"><p>网站公告</p></div>
 <div class="xinw">
  <ul>
   <li><a href="#">[品宜釜山烤肉]中餐享7折</a></li>
   <li><a href="#">[品宜釜山烤肉]中餐享7折</a></li>
   <li><a href="#">[品宜釜山烤肉]中餐享7折</a></li>
   <li><a href="#">[品宜釜山烤肉]中餐享7折</a></li>
   <li><a href="#">[品宜釜山烤肉]中餐享7折</a></li>
  </ul>
 </div>
</div>
