<!--
[HZcms] (C)2001-2018 AoSheWeb Inc.
This is NOT a freeware, use is subject to license terms.

Document   : youhuiph2.html
Encoding   : UTF-8
Created on : 2011-11-22, 10:27:49
Author     : shengbo wushengbo@qq.com 475749812
Site       : http://www.aosheweb.com
Description: 
-->

<div class="youxiang">
 <div class="youbt"><div class="mu">优惠卷简介</div> <div class="fenx"><span>分享到：</span><a href="#"></a></div><div class="liu"><font>1184</font> 人浏览 | <font>302</font> 人下载 </div></div>
 <div class="wenbt" style="border-bottom:1px #CCC dotted; padding-bottom:8px; width:98%; margin-left:8px;">
  <p>[搜店]石头入馔 南北方同时迷恋“魔石咕噜鱼”</p>
  <span><input name="" type="button"  class="da"/> <input name="" type="button"  class="xiaz"/></span>
 </div>
 <div class="clear"></div>
 <div class="rong" style="padding:10px;">
   <p align="center"><img src="__PUBLIC__/images/pic/youxiang1.jpg" /></p>
 </div>
 <div class="youhx"><p>优惠详情</p></div>
 <div class="clear"></div>
 <div class="rong" style="padding:10px;">日出茶太优惠卷温暖亲近你<br />
   ·每张优惠券可以享受“格调烤肉”美味烧烤自助餐一人次 ；<br />
   ·日出茶太优惠卷于2011年11月14日（周一）生效，11月14日起接受预约；<br />
   ·日出茶太优惠卷有效期截止至2012年1月15日；<br />
   ·营业时间：10：00-22：00；<br />
  ·为了节约您的时间，用餐请至少提前半小时咨询餐位，咨询电话：0731-84133181，咨询时无需向商家提供拉手券密码；</div>
   <div class="youhx"><p>使用方法</p>
   </div>
 <div class="clear"></div>
 <div class="rong" style="padding:10px;">1.限欧尚店/石路店/山塘店/天虹商场店/克山店使用<br />
   2.此卷不可与团购活动一起使用<br />
   3.此卷不可兑现、不找零、不可以与店内其他优惠同时享用<br />
  4.此卷不可转售，请在有效期内使用，过期作废</div>
</div>
